.header {
    display: flex;
    align-items: center;
    width: 100%;
}

.logo {
    margin-right: 20px;
}

.rectangle {
    border: 5px solid black;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    background-color: rgb(255, 216, 168);
    padding: 10px 20px 10px 20px;
    margin-right: 20px;
    text-decoration: none;
    color: black;
}

.rect2:hover {
    background-color: beige;
}

.seperater {
    margin-top: 20px;
}

.rectangle:hover {
    background-color: beige;
    border: 5px solid grey;
}

.bottomrectangle {
    height: 5px;
    width: 100%;
    background-color: black;
}

.cartshop {
    margin-left: 280px;
}

.fa-home {
    margin-left: 5px;
}

.infobox {
    width: 400px;
    height: 250px;
    background-color: rgb(252, 205, 148);
    margin-top: 30px;
    border: 5px solid black;
}

table, th, td {
    border: 3px solid black;
    text-align: center;
}

.table {
    margin-top: -50px;
}

table {
    width: 510px;
    margin-bottom: 5px;
}

.tbltxt {
    display: flex;
}

.DB {
    margin-left: 170px;
}